input/
checkpoints/

checkpoints/HAM_checkpoint
checkpoints/irra_checkpoint
datasets/__pycache__/__init__.cpython-39.pyc
datasets/__pycache__/bases.cpython-39.pyc
datasets/__pycache__/build.cpython-39.pyc
datasets/__pycache__/cuhkpedes.cpython-39.pyc
datasets/__pycache__/icfgpedes.cpython-39.pyc
datasets/__pycache__/rstpreid.cpython-39.pyc
datasets/__pycache__/sampler_ddp.cpython-39.pyc
datasets/__pycache__/sampler.cpython-39.pyc
model/__pycache__/__init__.cpython-39.pyc
model/__pycache__/build.cpython-39.pyc
model/__pycache__/clip_model.cpython-39.pyc
model/__pycache__/objectives.cpython-39.pyc
utils/__pycache__/__init__.cpython-39.pyc
utils/__pycache__/checkpoint.cpython-39.pyc
utils/__pycache__/comm.cpython-39.pyc
utils/__pycache__/iotools.cpython-39.pyc
utils/__pycache__/logger.cpython-39.pyc
utils/__pycache__/meter.cpython-39.pyc
utils/__pycache__/metrics.cpython-39.pyc
utils/__pycache__/simple_tokenizer.cpython-39.pyc
tta/__pycache__/__init__.cpython-39.pyc
tta/__pycache__/__init__.cpython-310.pyc
tta/__pycache__/adapt.cpython-310.pyc
tta/__pycache__/dataset.cpython-39.pyc
tta/__pycache__/dataset.cpython-310.pyc
tta/__pycache__/optim.cpython-39.pyc
tta/__pycache__/optim.cpython-310.pyc
tta/__pycache__/utils.cpython-39.pyc
tta/__pycache__/utils.cpython-310.pyc
processor/__pycache__/__init__.cpython-39.pyc
processor/__pycache__/processor.cpython-39.pyc
solver/__pycache__/__init__.cpython-39.pyc
solver/__pycache__/build.cpython-39.pyc
solver/__pycache__/lr_scheduler.cpython-39.pyc
debug_embeddings/
*.npy